#photo-1 {
  background-image: url("../img/bruce-rottgers-1287414-unsplash (1).jpg");
}

#photo-2 {
  background-image: url("../img/_DSF7611.jpg");
}

#photo-3 {
  background-image: url("../img/_DSF7332.jpg");
}

#photo-4 {
  background-image: url("../img/DSCF3255.jpg");
}

#photo-5 {
  background-image: url("../img/DSCF3303.jpg");
}

#photo-6 {
  background-image: url("../img/DSCF3491.jpg");
}
