.web {
  background-image: url("https://unsplash.com/photos/JVSgcV8_vb4/download?force=true");
}

.photography {
  background-image: url("../img/bruce-rottgers-1287414-unsplash (1).jpg");
}

.apps {
  background-image: url("https://unsplash.com/photos/9e9PD9blAto/download?force=true");
}

#start .col-sm {
  height: 30vh;
}
