 @charset 'utf-8';
// HEX
// ------------------------------
$color1: #f7f7f7;
$color2: #1c1c1c;
$color3: #5e5e5e;
$color4: #777777;
$color5: #919191;

// RGBA
// ------------------------------
$color1: rgba(247,247,247, 1);
$color2: rgba(28,28,28, 1);
$color3: rgba(94,94,94, 1);
$color4: rgba(119,119,119, 1);
$color5: rgba(145,145,145, 1);

// HSLA
// ------------------------------
$color1: hsla(0,0%,97%, 1);
$color2: hsla(0,0%,11%, 1);
$color3: hsla(0,0%,37%, 1);
$color4: hsla(0,0%,47%, 1);
$color5: hsla(0,0%,57%, 1);